.line {
    text-align: center;
}

.logo {
    width: 400px;
}

.image-size {
    text-align: center;
}
.Top-text-size {
    text-align: center;
}

.caption-text {
    text-align: center;
}

.detail-image-size {
    text-align: center;
}

.cart-package-image {
    text-align: center;
}

.box {
    height: 20px;
    width: 65px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
}